@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-headline: "Noto Serif", serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  
  .ambient-shadow {
    box-shadow: 0px 0px 60px 0px rgba(45, 52, 51, 0.04);
  }
  
  .letter-spacing-tighter { letter-spacing: -0.05em; }
  .letter-spacing-widest { letter-spacing: 0.2em; }
}
